<!-- Import model to this page-->
@model myMVCApp.ViewModels.EmployeeViewModel
@using myMVCApp.Models;
@{
    ViewBag.Title = "Employee List";
}

<h2>List of Employees</h2>
<div style="font-family:Arial">
    @if (Model.Employees.Any())
    {
        <table id="Employees" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee employee in Model.Employees)
                {
                    <tr>
                        <!-- MVC HTML helper tag, redirect to  page link text, action name, controller name and route values dictionary  -->
                        <td>@Html.ActionLink(employee.Name, "Details", "Employee", new { @employee.EmployeeId }, null)</td>
                        <!--Zobrazime button Delete a ked user nan klikne urebime delete selected customer-->
                        <!-- pouzijeme bootstrap class "btn-link aby button vyzeral ako link-->
                        <!--<button data-customer-id="employee.EmployeeId" class="btn-link js-delete">Delete</button> <!-- pouzijeme jQuery to handle button-->
                        <!-- Deleting using post localhost:63542/Employee/Delete/1 -->
                        <td>
                            <!--  Html.BeginForm extension method in ASP.Net MVC Razor to create HTML Form -->
                            <!-- ActionName – Name of the Action. In this case the name is Delete -->
                            <!-- Name of the Controller. In this case the name is Employee -->
                            <!-- id is a root value -->
                            @using (Html.BeginForm("Delete", "Employee", new { employee.EmployeeId }))
                            {
                                <input type="submit" value="Delete" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Edit", "Employee", new { employee.EmployeeId }))
                            {
                                <input type="submit" value="Edit" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div>
        <button type="button" onclick="location.href='@Url.Action("Index", "Department")'"> Back to Department list </button>
        <button type="button" onclick="location.href='@Url.Action("New", "Employee", new { Model.DepartmentId } )'"> New Employee </button>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
        });
    </script>
}





